@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */

/*GENERAL*/
:root {
    --main-color: #DC9F96;
    /* var(--main-color) */
    --second-color: #C02E44;
    /* var(--second-color) */
    --main-texte: #000000;
    /* var(--main-texte) */
    --second-texte: #ffffff;
    /* var(--second-texte) */
  }

body * {
    font-family: 'Syne', sans-serif;
}
/* On applique un gris plus clair sur les paragraphes */
p {
   color: var(--main-texte);
}


/* Header */
#site-navigation-wrap .dropdown-menu >li a:hover {
    font-size: 13px;
    font-weight: 600;
}

.after-header-content .after-header-content-inner {
    display: table-cell;
    vertical-align: middle;
    height: 74px;
    padding: 0, 50px;
}

.button-cde >a {
    background-color:var(--main-color);
    color: var(--second-texte);
    font-size: 16px;
    font-weight: 600 !important;
    padding: 0 60px;
    margin-left: 30px;
}

.button-cde a:hover{
    background-color: var(--second-color);
    color: var(--second-texte) !important;
}

/* Footer */
#site-footer {
    padding: 20px;
    text-align: center;
    color: var(--main-texte);
    background-color: var(--second-texte);
 }

 /* Formulaire de précommande */
 .section-commande {
    border-top: var(--second-texte) solid 1px;
    border-bottom: var(--second-texte) solid 1px;
    padding-top: 30px;
 }
 
 .section-commande h2 {
    font-size: 30px;
    font-weight: 600;
    color: var(--second-texte) ;
 }

 .bloc-commande {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

 .bloc-commande .compteur{
    padding: 12px 42px;
    border-radius: 5px;
    height: 100%;
 }

 input[type=number] {
   height: 30px;
}

input[type=number]:hover::-webkit-inner-spin-button {  
   width: 14px;
   height: 30px;
}

 /* la position des boutons par rapport au champ input */
.number-wrapper {
   position: relative;
}

.number-wrapper:after,
.number-wrapper:before {
   position: absolute;
   pointer-events: none;
}


/* le bouton moins du formulaire pour la peccomande */
.number-wrapper:after {
   color: white;
   position: absolute;
   content: "\2212";
   z-index: 5;
   background-color: #DC9F96;
   width: 42px;
   border-radius: 0 0 5px 0;
   font-size: large;
   z-index: 0;
   top: 15px;
   left: 44px;
}


/* le bouton plus du formulaire pour la précommande */
.number-wrapper:before {
   color: white;
   position: absolute;
   content: "\002B";
   z-index: 5;
   background-color: #DC9F96;
   width: 42px;
   left: 44px;
   height: 30px;
   border-radius: 0 5px 0 0;
   border-bottom: solid 1px;
   font-size: large;
   z-index: 5;
}

 .bloc-fruit {
    padding: 15px;
 }

 .nbr-fruit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 
 .section-coordonnees {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
 }

 .section-coordonnees h2 {
    font-size: 30px;
    font-weight: 600;
    color: var(--second-texte) ;
 }

 .section-coordonnees p {
    font-size: 20px;
    color: var(--second-texte) ;
 }
 
 .section-coordonnees .form {
    margin-top: 10px;
    padding: 18px 44px;
    border-radius: 5px;
 }

 .bouton-cder {
  display: flex;
  justify-content: center;
  margin-top: 20px;
 }

 .bouton-cder >p {
   transform: translateX(36px) !important;
   }

 .bloc-info {
    border-right: var(--second-texte) solid 1px;
    padding-right: 110px;
 }

 /*Page précommande pour mobile */
 @media only screen and (max-width: 600px) {
   /* Pour les mobiles */
   .section-commande {
      padding-right: 40px;
      padding-left: 40px;
      padding-top: 20px;
   }
   
   .bloc-commande {
   flex-direction: column;
   align-items: center;
   }

   .bloc-fruit {
   margin-bottom: 10px;
   }

   .bloc-fruit:last-child {
   margin-bottom: 0;
   }

   .bloc-info {
   border-right: none;
   padding-right: 0;
   margin-bottom: 30px;
   margin-top: 20px
   }

   .section-coordonnees {
   flex-direction: column;
   padding: 0 40px;
   }
   }
   
   @media only screen and (min-width: 601px) and (max-width: 900px) {
   /* Pour les tablettes */
   .section-commande {
      padding-right: 40px;
      padding-left: 40px;
      padding-top: 20px;
   }

      .bloc-commande {
   flex-wrap: wrap;
   justify-content: center;
   }

   .bloc-fruit {
   margin-right: 20px;
   margin-bottom: 20px;
   flex-basis: 40%;
   }

   .bloc-info {
   border-right: none;
   padding-right: 0;
   margin-right: 30px;
   flex-basis: 50%;
   padding-top: 20px;
   }

   .section-coordonnees {
      flex-direction: column;
      padding: 0 40px;
      }
   }