@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
    font-family: 'Syne', sans-serif;
}
/* On applique un gris plus clair sur les paragraphes */
p {
   color: #000000;
}


/* Header */
#site-navigation-wrap .dropdown-menu >li a:hover {
    font-size: 13px;
    font-weight: 600;
}

.after-header-content .after-header-content-inner {
    display: table-cell;
    vertical-align: middle;
    height: 74px;
    padding: 0, 50px;
}

.button-cde >a {
    background-color: #DC9F96;
    color: white;
    font-size: 16px;
    font-weight: 600 !important;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 30px;
}

.button-cde a:hover{
    background-color: #C02E44;
    color: #ffffff !important;
}

/* Footer */
#site-footer {
    padding: 20px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
 }

 /* Formulaire de précommande */
 .commande_form {
    color: white;
    font-size: 20px;
 }